{% extends 'base.html' %}

{% load static %}  <!-- Добавьте эту строку -->

{% block content %}
<div class="container">
    <h1>Контакты</h1>
    <p>По поводу сотрудничества и других вопросов, пишите администратору блога.</p>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'catalog/photo/contact1.png' %}" alt="Contact Image 1" class="img-fluid" style="max-width: 600px;">
        </div>
        <div class="col-md-6">
            <img src="{% static 'catalog/photo/contact2.png' %}" alt="Contact Image 2" class="img-fluid" style="max-width: 600px;">
        </div>
    </div>
</div>
{% endblock %}