{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} версии продукта</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="is_current">Текущая версия</label>
            <input type="checkbox" name="is_current" id="is_current" class="form-check-input">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Отмена</a>
</div>
{% endblock %}