{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ product.title }}</h1>
    {% if product.preview %}
        <img src="{{ product.preview.url }}" class="img-fluid" alt="{{ product.title }}" style="max-width: 600px; width: 100%;">
    {% endif %}
    <p>{{ product.content }}</p>
    <p><strong>Цена:</strong> {{ product.price }} руб.</p>
    <p><strong>Дата создания:</strong> {{ product.created_at }}</p>
    <p><strong>Количество просмотров:</strong> {{ product.views_count }}</p>
    <p><strong>Категория:</strong> {{ product.category.name }}</p>
    <p><strong>Версия:</strong>
        {% if current_version %}
            {{ current_version.version_name }}
        {% else %}
            Нет активных версий
        {% endif %}
    </p>

    {% if user.is_authenticated and product.created_by == user %}
        <a href="{% url 'catalog:product_update' product.slug %}" class="btn btn-warning">Редактировать</a>
        <a href="{% url 'catalog:product_delete' product.slug %}" class="btn btn-danger">Удалить</a>
    {% endif %}

    <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Назад к списку</a>
</div>
{% endblock %}